<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.galaxy.blog.mapper.AboutMapper">

    <insert id="addContact" useGeneratedKeys="true" keyProperty="id" parameterType="string">
        INSERT INTO
        blog_contact(name,email,title,content)
        VALUES
        (#{name,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{content})
    </insert>

</mapper>