<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.galaxy.blog.mapper.ContentMapper">

    <resultMap type="me.galaxy.blog.bean.ContentBean" id="contentBean">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="description" property="description"/>
        <result column="read_num" property="readNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="create_date" property="createDate"/>
        <result column="last_date" property="lastDate"/>
    </resultMap>

    <select id="page" resultMap="contentBean">
        select * from blog_content bc order by bc.last_date DESC
    </select>

    <select id="pageByGroup" parameterType="int" resultMap="contentBean">
        select * from blog_content bc where bc.group_id = #{groupId} order by bc.last_date DESC
    </select>

    <select id="getById" parameterType="int" resultMap="contentBean">
        select * from blog_content bc
        <where>
            <if test="id!=null">
                bc.id = #{id}
            </if>
        </where>
    </select>

    <select id="getByNewOrder" resultMap="contentBean">
        select * from blog_content bc order by bc.last_date DESC limit 4
    </select>

    <select id="getByGroup" resultType="java.util.HashMap">
        select bc.group_name as name,bc.group_id as id,count(bc.group_id) as count from blog_content bc group by bc.group_id, bc.group_name order by count DESC limit 4
    </select>

    <insert id="addContent" useGeneratedKeys="true" keyProperty="id" parameterType="me.galaxy.blog.bean.ContentBean">
        INSERT INTO
        blog_content(user_id,user_name,group_id,group_name,title,content,description)
        VALUES
        (#{userId},#{userName},#{groupId},#{groupName},#{title},#{content,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
    </insert>

    <update id="updateCommentCount" parameterType="integer">
        UPDATE blog_content bc set bc.comment_num = bc.comment_num + #{num} where id = #{id}
    </update>

    <update id="updateReadCount" parameterType="integer">
        UPDATE blog_content bc set bc.read_num = bc.read_num + #{num} where id = #{id}
    </update>

</mapper>